form {
    border: solid red 1px;
}

.resultado {
    border: solid blue 1px;
    background-color: lightblue;
    color: darkblue;

    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    width: 500px;
    word-break: break-word;
}
